.git
.gitignore
README.md
.next
.vscode
.idea
node_modules
npm-debug.log
.DS_Store
.env.local
.env.development
.env*.local
coverage
test
tests
__tests__
*.test.js
*.test.ts
*.spec.js
*.spec.ts
.eslintcache